<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SocialSync</title>
    <link rel="stylesheet" href="/public/css/home.css" />
  </head>
  <body>
    <div class="header">
      <h1>SocialSync</h1>
      <p>Stay Connected</p>
    </div>
    <div class="buttons">
      <button class="login" onclick="window.location.href='/users/login'">
        Login
      </button>
      <button class="signup" onclick="window.location.href='/users/register'">
        Sign Up
      </button>
    </div>
  </body>
</html>
